* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 175px;
    padding-bottom: 40px;
}

article {
    display: flex;
    justify-content: space-between;
    width: 85%;
}

#left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

#div-shop-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 50px;
    width: 500px;
    height: 500px;
}

.grid-item {
    align-items: center;
    background-color: #ccc;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.grid-item p:hover {
    font-size: 18px;
}