* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: #131313;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 175px;
    padding-bottom: 40px;
}

#article-up {
    display: flex;
    width: 85%;
    gap: 10rem;
}

#left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
    gap: 4rem;
}

#div-shop-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 50px;
    width: 500px;
    height: 500px;
}

.grid-item {
    align-items: center;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
}
.grid-item:hover img {
    width: 65%;
}

.img_food {
    width: 60%;
    transition: 0.3s ease;
}

#right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    flex: 2;
}

#p-payment-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#p-infoshop {
    font-size: 20px;
}

#p-totalShopping {
    font-size: 5rem;
    color: #32c036;
}

#btn-caixa {
    padding: 12px 20px 12px 20px;
    border: 1px solid #131313;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    color: #131313;
    transition: 0.3s;
}
#btn-caixa:hover {
    color: rgb(255, 255, 255);
    background-color: #131313;
}